@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: #f8fafc;
}

* {
  box-sizing: border-box;
}
/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE/Edge */
* {
  -ms-overflow-style: none;
}